<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title >ガジェ板</title>
  <meta name="これがワイ(Hamachi)のガジェ板や!!">
  <link rel="stylesheet" href="style.css">
</head>
<body>

<h1 class="title">ガジェ板</h1>
<h1 class="sub_title">卍ガジェ板卍</h1>

<form action="/comment" method="post" >
<input type="text" name="person" class="person" placeholder="Your Handle name."/>
<br>
<input type="text" name="comment" class="comment" placeholder="Write something!"/>
<br>
<button type="submit">カキコ</button>
</form>  

<% @articles.each do |article| %>

  <h2> <%= article.created_at %> </h2>
  <h2> <%= article.person %> </h2>
  <h1> <%= article.comment %> </h1>
  <hr color="#ff0000">
<% end %>

</body>  
</html>