<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ガジェ板 by Hamachi</title>
  <meta name="これがワイ(Hamachi)のホームページや!!">
  <link rel="stylesheet" href="index.css">
</head>
<body class="index">

<!--title-->
  <h1 class="title">ガジェ板</h1>
  <h2 class="message_one">リンゴガーとかドロガーとか言うなら帰って</h2>

<!--form-->
  <form action="list"method="get" class="form-inline"/>
   
    <input type="text" name="name" id="x" placeholder="お名前" class="input_name"/>
    <input type="text" name="scentence" id="y" placeholder="内容(あんま長文かかんといて...)" class="input_scentence"/>
    <input type="submit" value="カキコれ！！れ！！" class="submit"/>

    </form>       
  
  </body>

</html>
